# empêche la visualisation de l'arborescence dans un dossier
Options -Indexes

# active le module de réécriture d'URL
RewriteEngine On

# Toutes les URL vont être dirigées vers le fichier index.php
# sauf les URL qui correspondent à un fichier existant
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

# DEBUT en tête Cache-Control
<IfModule mod_headers.c>
<FilesMatch "\.(jpe?g|png|gif|webp|ttf|svg)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

</IfModule>
# FIN en tête Cache-Control

# DEBUT en tête Expires
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 30 days"
ExpiresByType image/jpeg "access plus 30 days"
ExpiresByType image/gif "access plus 30 days"
ExpiresByType image/png "access plus 30 days"
ExpiresByType image/webp "access plus 30 days"
ExpiresByType image/svg "access plus 30 days"
ExpiresByType style/css "access plus 7 days year"
ExpiresByType font/ttf "access plus 3 year"
ExpiresDefault "access plus 30 days"
</IfModule>
# FIN en tête Expires