/* 
 * Import fonts and animations
 */
@import url(./utils.css);
@import url(./header.css);
@import url(./footer.css);

#hero {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 14rem calc((100vw - 1000px) / 2);
    padding-bottom: 1.5rem;
    background-color: var(--bg-secondary);
}

.list {
    padding: 3rem;
}