@font-face {
    font-family: "K2D";
    src: url("../fonts/K2D.ttf");
}

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous.ttf");
}

@keyframes fadeinScale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    1% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    20% {
        transform: translate3d(4px, 0, 0);
    }

    40% {
        transform: translate3d(-4px, 0, 0);
    }

    60% {
        transform: translate3d(3px, 0, 0);
    }

    80% {
        transform: translate3d(-3px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

:root {
    --bg-main: #0E0C13;
    --bg-main-opacity: #0E0C1380;
    --bg-secondary: #361944;
    --bg-secondary-opacity: #36194480;
    --txt-secondary: #ECC3FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "K2D";
}

html {
    scroll-behavior: smooth;
}

main {
    min-width: 100vh;
    margin: 0 auto;
}

section {
    max-width: 55%;
    margin: auto;
}

body {
    background-color: var(--bg-main);
    counter-reset: sectindex 0;
}

h2,
h3,
h4,
h5,
h6,
.main-title {
    font-family: "Righteous";
    color: var(--txt-secondary);
}

.main-title {
    font-size: clamp(2rem, 10vw, 6rem);
}

.almost-main-title {
    font-size: clamp(2rem, 10vw, 3rem);
    margin: 0;
}

h2 {
    font-size: clamp(2rem, 10vw, 3rem);
}

h3 {
    font-size: clamp(1.5rem, 10vw, 2rem);
}

h2.section_title {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--bg-main);
}

h2.section_title::before {
    counter-increment: sectindex 1;
    content: "0" counter(sectindex) " -";
    position: absolute;
    width: fit-content;
    left: 0;
    transform: translateX(-110%);
}

h2.section_title::after {
    content: "";
    margin-left: 1.5rem;
    flex: 1;
    height: 2px;
    width: 100%;
    background-color: var(--bg-secondary);
}

em,
span.color {
    font-style: normal;
    font-family: "Righteous";
    color: var(--txt-secondary);
}

a {
    text-decoration: none;
}

/* "bold text" lol lost myself */
.bt {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    margin: 1.25rem 0;
}

.bg.greenit {
    background: center / cover no-repeat url(../img/green-it.png);
}